# Pinned (2026-09 reliability pass) — the faster-whisper / ctranslate2 /
# cuDNN version triangle has breaking combos, and a fresh `pip install`
# must reproduce the environment the service was tuned on. If your venv
# already works, run `pip freeze` and replace these with your exact
# working versions instead of blindly upgrading.
faster-whisper==1.1.0
ctranslate2==4.5.0
fastapi==0.115.6
uvicorn==0.32.1
indic-transliteration==2.3.0
